{
	"boostingAccount": {
		"username": "MainAccount",
		"password": "MainPassword"
	},
	"botAccount": {
		"username": "BotAccount",
		"password": "BotPassword"
	},
	"itemID": "1111111111",
	"appID": 730,
	"eventType": 0,
	"incrementValue": 1,
	"repeat": 1
}
